[submodule "projects/gmaps-autocomplete/src"]
  path = projects/gmaps-autocomplete/src
  url = https://github.com/rjshade/gmaps-autocomplete.git
[submodule "projects/road-radius/src"]
  path = projects/road-radius/src
  url = https://github.com/rjshade/road-radius.git
[submodule "projects/onegigasecond/src"]
  path = projects/onegigasecond/src
  url = https://github.com/rjshade/onegigasecond.git
[submodule "projects/cellular-automata/src"]
  path = projects/cellular-automata/src
  url = https://github.com/rjshade/cellular-automata.git
