---
layout: default
title: work
---

<div class="post">
  <h1>Fi<small>New York City, NY | 2021 to present</small></h1>
  <p>
    I'm a senior software engineer at <a href="https://www.tryfi.com/">Fi</a>,
    based out of NYC (I am fully remote). We make the world's smartest dog collar,
    tracking activity and giving alerts if your dog escapes.
  </p>
</div>

<div class="post">
  <h1>Verily<small>Cambridge, MA | 2017 to 2021</small></h1>
  <p>
    I was a senior software engineer at <a href="https://www.verily.com/">Verily</a>,
    in Cambridge, MA. I wrote firmware for a range of small embedded devices,
    consumer and medical.
  </p>
</div>

<div class="post">
  <h1>Google<small>Cambridge, MA | 2012 to 2017</small></h1>
  <p>
    I was a senior software engineer at <a href="https://www.google.com/">Google</a>,
    in Cambridge, MA. I worked on networking infrastructure, and was involved in
    the <a href="https://en.wikipedia.org/wiki/QUIC">QUIC</a> project: developing
    a next generation transport protocol over UDP.
  </p>
  <p>
    In 2017 I was a primary author of Google's paper about QUIC, published at SIGCOMM.
  </p>
  {% include publication.html paper="sigcomm_2017" %}

  <p>
    In 2016 I wrote the
    <a href="https://tools.ietf.org/html/draft-shade-quic-http2-mapping-00">HTTP-over-QUIC spec</a>,
    which has become the basis for
    <a href="https://quicwg.org/base-drafts/draft-ietf-quic-http.html">HTTP/3 at the IETF</a>.
  </p>
  {% include publication.html paper="quic_mapping_2016" %}

  <p>
    In 2014, I got the chance to talk about QUIC as part of the Google Developers Live series.
  </p>
  <div class="youtube shadow_box">
    <iframe width="560" height="315" src="//www.youtube.com/embed/hQZ-0mXFmk8" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="post">
  <h1>
    Mobile Robotics Group, Oxford University
    <small>Oxford, England | 2007 to 2012</small>
  </h1>
  <p>
    In 2012 I successfully defended my DPhil (PhD). I was a member of the
    <a href="https://www.robots.ox.ac.uk/~mobile/">Mobile Robotics Group</a>
    at <a href="https://www.ox.ac.uk/">Oxford University</a>, under the supervision
    of <a href="https://www.robots.ox.ac.uk/~pnewman">Prof. Paul Newman</a>.
    My thesis focused on autonomous exploration, and developing novel approaches to
    solving this problem for robots capable of three dimensional movement.
    Most successfull is a method based on solving a partial differential
    equation across a voxelised representation of the robot's workspace: choosing
    suitable boundary conditions ensures complete exploration.
  </p>

  {% include publication.html paper="dphil_2011" %}
  {% include publication.html paper="icra_2011" %}
  {% include publication.html paper="icra_2010" %}
  {% include publication.html paper="ijrr_2010" %}
</div>
