<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13183825-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-13183825-1');
    </script>

    <title>rjshade.com :: {{ page.title }} </title>
    <link rel="shortcut icon" href="https://rjshade.com//favicon.ico" />

    <link rel="stylesheet" type="text/css" media="screen" title="User Defined Style" href="/styles/normalize.css" />
    <link rel="stylesheet" type="text/css" media="screen" title="User Defined Style" href="/styles/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" title="User Defined Style" href="/styles/lightbox.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- facebook open graph -->
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://rjshade.com/images/opengraph.png"/>
    <meta property="og:title" content="rjshade.com"/>
    <meta property="og:url" content="https://rjshade.com/"/>
    <meta property="fb:admins" content="36804805"/>
    <meta property="og:description" content="Robbie Shade's personal website."/>
  </head>

  <body>
    <div class="wrapper">
      <nav id="siteMenu">
        <a href="/"  class="logo">rjshade.com</a>
        <a href="/"              >home</a>
        <a href="/photos"        >photos</a>
        <a href="/work"          >work</a>
        <a href="/about"         >about</a>
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
          <i class="fa fa-bars"></i>
        </a>
      </nav>

      <div class="content">
        {{ content }}
      </div>
    </div>

    <script>
      // For toggling the navbar via hamburger menu.
      function toggleMenu() {
        var x = document.getElementById("siteMenu");
        if (x.className === "") {
          x.className = "responsive";
        } else {
          x.className = "";
        }
      }
    </script>
    <script src="/js/lightbox.js">
      // Lightbox for viewing photos.
    </script>
  </body>
</html>

