---
layout: default
---

<a class="up" href="/adventures/inverness-to-istanbul-by-bike">&uarr; all posts</a>

<h1>{{ page.title }}</h1>
<h2>{{ page.location }}</h2>

<figure class="large-photo">
  <a href="/adventures/inverness-to-istanbul-by-bike/photos/{{ page.image }}" data-lightbox="{{ page.title }}">
    <img class="shadow-box test-m"
         src='/adventures/inverness-to-istanbul-by-bike/photos/{{ page.image }}'
         alt='{{ page.title }}' />
  </a>
</figure>

{{ content }}

<div class="post-nav">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
  {% endif %}
</div>
