---
layout: default
---
<figure class="large-photo">
  <a href="/photos/files/original/{{ page.file }}" data-lightbox="{{ page.title }}">
    <img class="shadow-box test-m"
         srcset='/photos/files/{{ page.file }} 1x, /photos/files/retina/{{ page.file }} 2x'
         src='/photos/files{{ page.file }}'
         alt='{{ page.title }}' />
  </a>
  <figcaption>
    {{ page.title }}
    <span class="external-links">
    {% if page.instagram %}
      <a href="https://www.instagram.com/p/{{ page.instagram }}/">
        <img src="/images/instagram.png" style="width: 25px" />
      </a>
    {% endif %}
    {% if page.flickr %}
      <a href="https://www.flickr.com/photos/rjshade/{{ page.flickr }}/">
        <img src="/images/flickr.jpg" style="width: 25px" />
      </a>
    {% endif %}
    </span>
    {% if page.location or page.date %}
    <br/>
    <span class="date">
      {% if page.location %}{{ page.location }}{% endif %}{% if page.location and page.date %}, {% endif %}{% if page.date %}{{ page.date | date: "%Y" }}{% endif %}
    </span>
    {% endif %}
  </figcaption>
</figure>


{{ content }}
