---
layout: default
---
<div class="container">
  <figure class="photo">
    <img class="shadow_box"
         srcset='/photos/files/{{ page.file }} 1x, /photos/files/retina/{{ page.file }} 2x'
         alt='{{ page.title }}' />
    <figcaption>
      {{ page.title }}
      {% if page.exif.location or page.exif.date %}
      <br/>
      <span class="date">
        {% if page.exif.location %}{{ page.exif.location }}{% endif %}{% if page.exif.location and page.exif.date %}, {% endif %}{% if page.exif.date %}{{ page.exif.date | date: "%Y" }}{% endif %}
      </span>
      {% endif %}
    </figcaption>
  </figure>
  {{ content }}
</div>
