---
---

$dark_grey: #333333;
$light_grey: #aeaeae;
$v_light_grey: #e4e4e4;
$orange: #f08c26;
$blue: #3d85aa;
$phone_width: 600px;

html,body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background-color:#ffffff;
  font-size: 12px;
  line-height: 1.7em;
  color: $dark_grey;
}

.wrapper {
  width: 80%;
  max-width: 800px;
  margin: auto;
}

nav {
  z-index: 1;
  position: fixed;
  overflow: hidden;
  padding-bottom: 10px;
  width: 80%;
  max-width: 800px;
  background-color: white;

  a {
    float: left;
    display: block;
    text-align: left;
    padding-top: 14px;
    padding-right: 14px;
    text-decoration: none;
  }

  a.logo { color: $dark_grey; font-size: 1.2em; font-weight: bold; }
  .icon { display: none; }
  border-bottom: 1px solid $v_light_grey;
}

@media screen and (max-width: $phone_width) {
  nav a:not(:first-child) {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
  nav.responsive {position: fixed;
    width: 80%;
    max-width: 80%;
  }
  nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.content {
  // Leave space for the fixed navbar.
  padding-top: 5em;
}

.post {
  clear: both;
  border-bottom: 1px solid $v_light_grey;
}

h1 {
  font-weight: bold;
  font-size: 1.2em;
  small {
    font-size: 0.8em;
    font-weight: normal;
    color: $light_grey;
    display: block;
  }
}

h2 {
  font-weight: bold;
  font-size: 1.0em;
  small {
    font-weight: normal;
    color: $light_grey;
    display: block;
  }
}

a {
  color: $blue;
  text-decoration: none;
  transition: color .8s ease-in, color .5s ease-out;
  &:hover { color: $orange; }
}

.photo-grid {
  padding-top: 14px;
  padding-bottom: 14px;
  text-align: center;
  .photo-grid-item {
    padding: 5px;
    vertical-align: middle;
    img {
      width: 30%;
      height: auto;
    }
  }
}

@media screen and (max-width: $phone_width) {
  .photo-grid .photo-grid-item img {
    width: 45%;
  }
}

.shadow-box {
  box-shadow: 0px 0px 5px $light_grey;
  border: 1px solid $v_light_grey;
  border-radius: 5px;
}

.youtube{
  z-index: 0;
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  display:block;
  margin:auto;
  height:0;
  max-width: 80%;
  margin-top: 20px;
  margin-bottom: 20px;
  iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }
}

.work_pub {
  overflow: auto;
  margin: 10px;
  margin-bottom:30px;
  padding: 10px;

  .text {
    float: right;
    width: 60%;
  }

  p {
    font-size: 0.8em;
    .authors {
      font-style: italic;
    }
  }

  img {
    float: left;
    clear: left;
    width: 30%;
    padding:5px;
    margin-top: 15px;
    margin-left: 10px;
  }
}

@media screen and (max-width: $phone_width) {
  .work_pub {
    .text {
      float: none;
      width: 100%;
    }
    img {
      float: none;
      margin: 0px;
      padding: 0px;
      width: 100%;
    }
  }
}

figure {
  margin: 0px;
}

.large-photo {
  img {
    width: 100%;
    height: auto;
  }
  figcaption {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 5px;
    .date {
      color: $light_grey;
    }
  }
}

.external-links {
  float: right;
  img {
    filter: grayscale(100%);
    transition: all .8s ease-in, all .5s ease-out;
    &:hover {
      filter: grayscale(0%);
    }
  }
}
