---
layout: none
---
/* ----------------- COLORS ------------------------ */

/* Colours */
$dark_grey: #333333;
$light_grey: #aeaeae;
$v_light_grey: #e4e4e4;
$orange: #f08c26;
$blue: #3d85aa;

/*
    Sass Reset - Converted by Hampton Catlin
    A modification of the original found at...
    http://meyerweb.com/eric/tools/css/reset/
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote {
    &:before, &:after {
        content: '';
        content: none; } }

q{
    &:before, &:after {
        content: '';
        content: none; } }

table {
    border-collapse: collapse;
    border-spacing: 0; }



/* ----------------- GENERAL ------------------------ */

html,body
{
  font-family: 'Cantarell', sans-serif;
  background-color:#ffffff;
  margin: 20px 0px;
  padding: 0px;
  font-size: 62.5%;
}

.pagewidth
{
  margin: 0px auto;
  clear: both;
}

.horz_pagewidth_rule
{
  float:none;
  position:absolute;
  left:0px;
  width: 100%;
  border-bottom: 1px solid $v_light_grey;
}


/* ----------------- WRAPPER ------------------------ */
#wrapper
{
  width: 800px;
  margin: 0px auto;
  clear:both;
}
#wrapper a
{
  color: $blue;
  text-decoration: none;
}
#wrapper a:hover
{
  color: $orange;
}


/* ----------------- HEADER ------------------------ */
#header
{
  height: 3.0em; /* has to be tall enough to hold everything */
  padding: 0.5em;
}


/* ----------------- TITLE ------------------------ */
#title
{
  height: 3.0em; /* has to be the same as header height */
  float: left;
}

#title_main
{
  font-size: 3.0em;
  font-weight:normal;
  padding-left: 1em;
  padding-right: 0em;
}
#title_main a
{
  color: $dark_grey;
  text-decoration: none;
}
#title_main a:hover
{
  color: #000;
}



/* ----------------- MENU ------------------------ */
#menu
{
  height: 3.0em;
  float:right;
}

ul.menu {
  list-style-type:none;
  margin:0;
  padding:0;
}

ul.menu li 
{
  display:block;
  float:left;
  margin:0;
  padding:0;
  font-size: 2.0em;
  z-index: 100; /*top layer above horz rule*/
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-left: 2em;
  padding-right: 0em;
  font-weight:normal;
}

#menu .unselected a 
{
  color:$light_grey;
}

#menu .unselected a:hover
{
  color: $orange;
}

#menu .selected a 
{
  color: $orange;
}


/* ----------------- CONTENT ------------------------ */
#content
{
  margin: 0px auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 14px;
  color: $dark_grey;
  width: 800px;
  line-height: 1.7em;
}

#content p
{
}

#content h1
{
  font-weight: bold;
}

#content a
{
  color: #33a;
  text-decoration: none;
  /*border-bottom: 1px dashed $orange;*/
}

#content a:visited
{
  color: #66a;
  text-decoration: none;
  /*border-bottom: 1px dashed $blue;*/
}


#content a:hover
{
  color: $orange;
  text-decoration: none;
  /*border-bottom: 1px dashed $blue;*/
}

/* for image links */
#content a.no_border
{
  border-bottom: none; 
}

#content .content_box
{
  margin: 10px;
  padding: 10px;
}
#content .ajax_loading
{
  padding-top:100px;
  padding-bottom:150px;
  color: $light_grey;
}
#content .horz_rule
{
  width: 100%;
  border-bottom: 1px solid $v_light_grey;
  float:none;
  clear:both;
}
#content .strong
{
  font-weight: bold;
}


#content .text_shadow
{
  margin: 10px;
  margin-bottom: 30px;
  -moz-box-shadow:  0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  box-shadow:   0px 0px 3px #aaa;

  border: 1px solid #ccc;
  
  border-bottom-left-radius:  3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius:   3px 3px;
  border-top-right-radius:  3px 3px;

  padding: 10px;
}

#content .img_shadow
{
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  -moz-box-shadow:  0px 0px 5px #111;
  -webkit-box-shadow: 0px 0px 5px #111;
  box-shadow:   0px 0px 5px #111;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#content .img_shadow_no_center
{
  margin: 10px;
  float: left;
}

#content .shadow
{
  -moz-box-shadow:  0px 0px 5px #111;
  -webkit-box-shadow: 0px 0px 5px #111;
  box-shadow:   0px 0px 5px #111;
}

.page_width
{
  border: none;
  margin: none;
  padding: none;
  width: 100%;
}


#content .center_full_no_border
{
  border: none;
  margin-left:auto;
  margin-right:auto;
}


#content .flickr_photoset_thumb
{
  margin: 9px;
  -moz-box-shadow:    0px 0px 5px $dark_grey;
  -webkit-box-shadow: 0px 0px 5px $dark_grey;
  box-shadow:         0px 0px 5px $dark_grey;
  vertical-align: middle;
}

#content .flickr_photoset_third_width
{
  width: 30%;
  height: 260px;
  text-align: center;
  margin: 10px;
  float: left;
}



#content #photoset_grid
{
  /*border:1px solid red;*/
  margin:auto;
  overflow:auto;
  width:100%;
  text-align:center;
  padding-left: 10px;
}


#content #photoset_grid .item
{
  float:left;
  padding: 5px;
  width: 250px;
  /*height: 150px;*/
  /*border: 1px solid green;*/
  padding-bottom: 20px;
}

#content #photoset_grid .break
{
  float:none;
  clear:both;
  width:100%;
}
#content #photoset_grid .item img
{
  border: 1px solid $dark_grey;

  margin: 10px;
  -moz-box-shadow:  0px 0px 5px #555;
  -webkit-box-shadow: 0px 0px 5px #555;
  box-shadow:   0px 0px 5px #555;

}




/* ----------------- FOOTER ------------------------ */
#footer
{
  text-align: center;
  border-top: 1px solid $v_light_grey;
  
  color: $light_grey;
  padding-top:10px;
}

#footer a 
{
  color:$light_grey;
}

#footer a:hover
{
  color: $orange;
}




/* ------------- PAGE SPECIFIC STYLES ------------- */


/* ----------------- FRONTPAGE ------------------------ */
#frontpage img
{
  /*width: 700px;*/
}



/* ----------------- WORK ------------------------ */
.work_pub
{
  min-height: 300px;
  /*border:1px solid red;*/


  margin: 10px;
  margin-bottom:30px;
  -moz-box-shadow:  0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  box-shadow:   0px 0px 3px #aaa;

  border: 1px solid #ccc;
  
  border-bottom-left-radius:  3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius:   3px 3px;
  border-top-right-radius:  3px 3px;

  padding: 10px;
}

.work_pub .work_pub_text
{
  float: right;
  width: 60%;
  padding-top: 20px;
}

.work_pub .work_pub_title
{
  padding:5px;
  font-weight:bold;
}

.work_pub .work_pub_authors
{
  padding:5px;
}

.work_pub .work_pub_published
{
  padding:5px;
}


.work_pub .work_pub_download
{
  padding:5px;
}


.work_pub .work_pub_thumb
{
  padding:5px;
  float: left;
  clear:left;
}

.work_pub_authors .me
{
  /*font-weight:bold;*/
  color: #000;
}

.work_pub .shadow
{
  border: 1px solid #555555;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  -moz-box-shadow:  0px 2px 10px #555;
  -webkit-box-shadow: 0px 2px 10px #555;
  box-shadow:   0px 2px 10px #555;
}

.post
{
  margin-top: 1em;
  /*width: 100%;*/
  padding: 1.8em;
  -moz-box-shadow:  0px 0px 3px #aaa;
  -webkit-box-shadow: 0px 0px 3px #aaa;
  box-shadow:   0px 0px 3px #aaa;

  border: 1px solid #ccc;
  
  border-bottom-left-radius:  3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius:   3px 3px;
  border-top-right-radius:  3px 3px;
}

.post ul,
.post ol {
  margin-left: 1.35em;
}

.post code {
  border: none;
  padding: 0 .2em;
  color: #666;
  font-size: 0.9em;
  font-family: monospace;
  font-style: italic;
}

.highlight {
  padding: 20px 10px 20px 20px;
  border: none;
  border-radius: 5px;
  border-bottom-left-radius:  5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius:   5px 5px;
  border-top-right-radius:  5px 5px;
  margin:none;
}


.post h2{
  font-weight:normal;
  font-size: 1.2em;
  margin-top: 1.5em;
}

p {
  margin: 1em 0;
}


ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  margin-top: 1em;
  margin-left: 1em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaaaaa;
}


.post .title
{
  font-size: 1.2em;
  float: left;
  padding-bottom: 0.5em;
}

.post .title a { border: none!important; }
.post .title a:hover { border-bottom: 1px dashed $orange!important; }
  
.post .date a { border: none!important; }
.post .date a:hover { border-bottom: 1px dashed $orange!important; }

.post .date
{
  color: #aaa;
  font-size: 1.0em;
  float: right;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}

.post .post_title
{
  margin-bottom: 1em;
}


.post_list
{
  padding-top: 1em;
}

.post_separator
{
  margin-bottom: 4em;
  width: 100%;
}


.gmap_iframe
{
  padding-bottom: 10px;
}

.gmap_iframe a
{
}


.quote
{
  margin: 1em;
  margin-top: 1.5em;
}

.quote .text
{
  background-color: #efefef;
  border: 1px solid #aaaaaa;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.quote .author
{
  font-weight: normal;
  text-align: right;
  margin-right: 4em;
  margin-top: 1em;
}

#disqus_thread
{
  padding-top: 3em;
  /*width: 600px;*/
}

#dsq-global-toolbar a
{
  border: none!important;
}

#dsq-new-post h3
{
  padding: 0.2em;

}


.post .title a
{
  color: #555555!important;
  text-decoration: none;
  border: none;
}
.post .date a
{
  color: #aaa!important;
  text-decoration: none;
  border: none;
}

.post .title a:visited
{
  color: #555555!important;
  text-decoration: none;
  border: none;
}

.post .date a:visited
{
  color: #aaa!important;
  text-decoration: none;
  border: none;
}

.post {
  ul {
    list-style: disc;
  }
}

strong {
  font-weight: bold;
}

